body{
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    /* overflow: hidden; */

}

div#container {
    display: flex;
    position: fixed;
    bottom: 20px;

}

div.pokeCard{
    height: auto;
    width: 200px;
    margin: 10px;
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
}

img.pokemonImg{
    width: 100%;
}

.flex{
    /* display: flex;
    flex-direction: row; */
    width: 100vw;
    min-height: 500px;
}

#viewer {
    width: 50%;
    height: calc(100% - 200px);
}

#pokemonInfo{
    width: 40%;
    height:400px;
    position: relative;
    float: right;
    margin-top: -450px;
    padding-left:10%;

    background-repeat: no-repeat;
    background-size: contain;
}

#pokeInfoWords{
   margin-top: 220px;
   margin-left: -100px;
}

#pokeInfoImage{
    margin-top: -285px;
    margin-left: -65px;
    width: 140px;
    height: 140px;
}

 /* h2.intro{
     font-size: 30px;
 } */

/* =====================      LIKE BUTTON         ================== */

button.custom-button{
    border: none;
    background: none;
}

#button-img{
    width:30px;
    height:30px;
}

#button-img:hover{
    content: url(pokemon_app/app/assets/images/love.png);
}


/* ======================= FILTER FORM STYLING===================== */
#pokemon-filter-form {
    width: 600px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10px;
  }
  
  #pokemon-filter-input {
    font-size: 25px;
    border: 3px solid #fecd2f;
    border-radius: 20px;
    color: #2d72fc;
    text-align: center;
  }
  input:focus {
    outline: none;
  }