div#container {
    display: flex;
    position: fixed;
    bottom: 20px;
}

div.pokeCard{
    width: 200px;
    height: auto;
    margin: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

img.pokemonImg{
    width: 200px;
}


