body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

div#container {
    display: flex;
    position: fixed;
    bottom: 20px;
}

div.pokeCard{
    height: auto;
    width: 200px;
    margin: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

img.pokemonImg{
    width: 100%;
}

#viewer {
    width: 50%;
    height: calc(100% - 200px);
}

